*{
    padding: 0;
    margin: 0;
    
}
.navbar{
 
    padding: 0.85rem;
    box-shadow: 0 0rem 0.85rem rgb(36, 36, 36);
}
.left{
    padding: 0.50rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.left a{
    text-decoration: none;
    color: black;
}
.left a:hover{
    color: black;
}


.mid{
    padding: 0.65rem;
}

.right{
   
    padding: 0.65rem;
}